body {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  height: 100vh;
  background-color: gray;
  position: relative; 
}
.navBarLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.navTitle {
  color: white;
  font-size: 24px;
}
.navBreak {
  border-color: white;
}
.navBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: gray;
  color: white;
  font-size: 24px;
  text-decoration: none;
}
.navBox:hover {
  background-color: lightGray;
}
.navContent {
  width: 100%;
  display: flex;
}
.navIcon {
  width: 60px;
  height: 60px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
.navLink {
  display: flex;
  align-items: center;
  width: 75%;
  color: white;
  text-decoration: bold;
}
.navBottomIconsContainer {
  display: flex;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}
.navBottomIcon {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 5px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.titleCard {
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
}
.homeTitle {
  color: white;
  font-size: 24px;
  line-height: 0px;
}
.homeSubtitle {
  color: lightGray;
  font-size: 16px;
  line-height: 0px;
}

.experienceContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.experienceContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
}
.experienceTimeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experienceTimelinePoint {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
}
.experienceTimeline {
  width: 2px;
  height: 100%;
  background-color: white;
}
.experienceCard {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 25px;
  width: 100%;
  height: 200px;
}
.experienceTitle {

}
.experienceTime {

}
.experienceDesc {

}
