body {
  background-color: black;
}

/*
 * Navigation 
*/

.topNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
}
.topNavLinksBar {

}
.topNavLink {
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.topNavLink:link, .topNavLink:visited {
  background-color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
}
.topNavLink:hover, .topNavLink:active {
  background-color: gray;
}
.topNavBreak {
  width: 66%;
}

/*
 * Home 
*/
.homeBody {
}
.titleBar {
  padding: 10px;
}
.titleName {
  text-align: center;
  color: white;
}
.titleImage {
  border: 2px solid gray;
  border-radius: 25px;
  margin: auto;
  width: 1000px;
  height: 1000px;
}

/*
 * Releases 
*/

.releasesBody {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 66%;
}
.releaseContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 250px;
  border: 2px solid gray;
  border-radius: 25px;
  margin: 15px;
  background-color: black;
}
.releaseContainer:hover {
  background-color: #202020;
}
.releaseImgBox {
  border: 1px solid gray;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  float: left;
}
.releaseImg {

}
.releaseTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid gray;
  width: 400px;
  height: 200px;
  padding: 25px;
  float: left;
  color: white;
}
.releaseTitle {
  height: 20%;
}
.releaseBreak {
  width: 100%;
}
.releaseDescription {

}
.releaseTracklist {
  width: 50%;
  float: left;
}

/*
 * Lyrics
*/

.lyricsBody {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}
.songContainer {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: max-content;
  border: 2px solid gray;
  border-radius: 25px;
  margin: 10px;
  padding: 25px;
  color: white;
  background-color: black;
}
.songContainer:hover {
  background-color: #202020;
}
.songTitle {

}
.songBreak {
  width: 100%;
}
.songLyrics {

}
