body {
  background-color: black;
}

.topNavBar {
  color: white;
  font-size: 20px;
  text-align: center;
}
.topNav {
  color: white;
}
.topNav:link, .topnav:visited {
  background-color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.topNav:hover, .topNav:active {
  background-color: gray;
}
.topNavBreak {
  width: 66%;
}

.titleBar {
  padding: 10px;
}
.titleName {
  text-align: center;
  color: white;
}
.titleImage {
  border: 2px solid white;
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.releasesBody {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 66%;
}
.releaseBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid white;*/
  width: 700px;
  height: 250px;
  padding: 25px;
}
.releaseImgBox {
  border: 2px solid gray;
  width: 250px;
  height: 250px;
  float: left;
}
.releaseImg {

}
.releaseTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid gray;
  width: 400px;
  height: 200px;
  padding: 25px;
  float: left;
  color: white;
}
.releaseTitle {
  height: 20%;
}
.releaseBreak {
  width: 100%;
}
.releaseDescription {
}
.releaseTracklist {
  width: 50%;
  float: left;
}
